/* ../../desktop.blocks/page/page.css begin */
@font-face {
  font-family: 'Helvetica4Light4Light';
  src: url("fonts/Helv-4-Light/helv-4-light.eot");
  src: url("fonts/Helv-4-Light/helv-4-light.eot") format('embedded-opentype'), url("fonts/Helv-4-Light/helv-4-light.woff") format('woff'), url("fonts/Helv-4-Light/helv-4-light.ttf") format('truetype'), url("fonts/Helv-4-Light/helv-4-light.svg#Helvetica4Light4Light") format('svg');
}
.page.page_theme_normal {
  font: 13px/15px 'Helvetica4Light4Light', Arial, Helvetica, sans-serif;
  margin: auto;
  font-size: 14px;
  line-height: 1.3;
}
/* ../../desktop.blocks/page/page.css end */
/* ../../libs/bem-components/design/common.blocks/page/_theme/page_theme_normal.styl begin */
html {
  min-height: 100%;
}
.page_theme_normal {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* ../../libs/bem-components/design/common.blocks/page/_theme/page_theme_normal.styl end */
/* ../../desktop.blocks/header/header.css begin */
.header {
  background: rgba(239,239,239,0.9);
  color: #e54271;
  position: relative;
  z-index: 2;
}
.header__inner {
  width: 1000px;
  margin: auto;
}
/* ../../desktop.blocks/header/header.css end */
/* ../../libs/bem-core/common.blocks/clearfix/clearfix.css begin */
.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  content: " ";
}
/* ../../libs/bem-core/common.blocks/clearfix/clearfix.css end */
/* ../../desktop.blocks/logo/logo.css begin */
.logo {
  float: left;
  background: url("i/logo.png") no-repeat;
  width: 125px;
  height: 90px;
  margin-right: 25px;
  position: relative;
}
/* ../../desktop.blocks/logo/logo.css end */
/* ../../desktop.blocks/call-us/call-us.css begin */
.call-us {
  float: right;
  padding-top: 12px;
  text-align: right;
}
/* ../../desktop.blocks/call-us/call-us.css end */
/* ../../desktop.blocks/call-us/__button/call-us__button.css begin */
.call-us__button {
  margin-bottom: 15px;
  display: block;
}
/* ../../desktop.blocks/call-us/__button/call-us__button.css end */
/* ../../desktop.blocks/link/link.css begin */
.link {
  color: #e54271;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
/* ../../desktop.blocks/link/link.css end */
/* ../../desktop.blocks/button/button.css begin */
.button {
  text-align: center;
  border: none;
  color: #fff;
  width: 100%;
  cursor: pointer;
  transition: background 0.2s linear;
}
.button:focus {
  outline: none;
}
.button:active {
  box-shadow: inset 1px 1px 15px rgba(42,22,20,0.95);
}
/* ../../desktop.blocks/button/button.css end */
/* ../../desktop.blocks/button/_size/button_size_small.css begin */
.button_size_small {
  padding: 5px;
  font-size: 14px;
}
/* ../../desktop.blocks/button/_size/button_size_small.css end */
/* ../../desktop.blocks/button/_size/button_size_big.css begin */
.button_size_big {
  font-size: 21px;
  padding: 22px 0;
}
/* ../../desktop.blocks/button/_size/button_size_big.css end */
/* ../../desktop.blocks/button/_size/button_size_middle.css begin */
.button_size_middle {
  font-size: 15.6px;
  padding: 16px 0;
}
/* ../../desktop.blocks/button/_size/button_size_middle.css end */
/* ../../desktop.blocks/button/_color/button_color_orange.css begin */
.button_color_orange {
  background: #fc3307;
}
.button_color_orange:hover {
  background: #af1309;
}
/* ../../desktop.blocks/button/_color/button_color_orange.css end */
/* ../../desktop.blocks/button/_color/button_color_green.css begin */
.button_color_green {
  background: #1bcb88;
}
.button_color_green:hover {
  background: #178852;
}
/* ../../desktop.blocks/button/_color/button_color_green.css end */
/* ../../desktop.blocks/button/_color/button_color_pink.css begin */
.button_color_pink {
  background: #fc005e;
}
.button_color_pink:hover {
  background: #a60034;
}
/* ../../desktop.blocks/button/_color/button_color_pink.css end */
/* ../../desktop.blocks/nav/nav.css begin */
.nav {
  margin: 0;
  padding-top: 36px;
}
.nav__item {
  display: inline;
  margin-right: 40px;
}
/* ../../desktop.blocks/nav/nav.css end */
/* ../../desktop.blocks/first-screen/first-screen.css begin */
.first-screen {
  background: linear-gradient(to right, #e1e1e1, #9a9a9a);
}
.first-screen__inner {
  max-width: 1000px;
  margin: auto;
}
.first-screen .form-all {
  width: auto;
}
.carousel.first-screen__carousel {
  float: left;
  width: 720px;
  margin-top: -97px;
  margin-left: -44px;
}
.first-screen__carousel .carousel__img {
  width: 100%;
}
/* ../../desktop.blocks/first-screen/first-screen.css end */
/* ../../libs/bl-carousel/desktop.blocks/carousel/carousel.css begin */
.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}
.carousel__inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel__item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel__item_state_active,
.carousel__item_type_next,
.carousel__item_type_prev {
  display: block;
}
.carousel__item_state_active {
  left: 0;
}
.carousel__item_type_next,
.carousel__item_type_prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel__item_type_next {
  left: 100%;
}
.carousel__item_type_prev {
  left: -100%;
}
.carousel__item_type_next.carousel__item_dir_left,
.carousel__item_type_prev.carousel__item_dir_right {
  left: 0;
}
.carousel__item_state_active.carousel__item_dir_left {
  left: -100%;
}
.carousel__item_state_active.carousel__item_dir_right {
  left: 100%;
}
/* ../../libs/bl-carousel/desktop.blocks/carousel/carousel.css end */
/* ../../desktop.blocks/carousel/carousel.css begin */
.carousel {
  line-height: 1.3;
  font-size: 18.85px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.carousel__control.carousel__control_theme_mini {
  background: transparent;
  cursor: pointer;
}
.carousel__paginator {
/*width: 160px;*/
  width: 70px;
  margin: 73px 10px 40px 73%;
  cursor: pointer;
}
.carousel__paginator-button {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  background: #fff;
}
.carousel__paginator-button_state_active {
  background: #e36723;
}
/* ../../desktop.blocks/carousel/carousel.css end */
/* ../../libs/bl-carousel/desktop.blocks/carousel/__img/carousel__img.css begin */
.carousel__img {
  display: block;
  line-height: 1;
}
/* ../../libs/bl-carousel/desktop.blocks/carousel/__img/carousel__img.css end */
/* ../../libs/bl-carousel/desktop.blocks/carousel/__paginator-button/carousel__paginator-button.css begin */
.carousel__paginator-button {
  cursor: pointer;
}
/* ../../libs/bl-carousel/desktop.blocks/carousel/__paginator-button/carousel__paginator-button.css end */
/* ../../libs/bl-carousel/desktop.blocks/carousel/__control/carousel__control.css begin */
.carousel__control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel__control_type_right {
  left: auto;
  right: 15px;
}
/* ../../libs/bl-carousel/desktop.blocks/carousel/__control/carousel__control.css end */
/* ../../desktop.blocks/sidebar/sidebar.css begin */
.sidebar {
  float: right;
  padding-top: 100px;
  width: 280px;
}
.sidebar .form {
  margin-top: 20px;
}
/* ../../desktop.blocks/sidebar/sidebar.css end */
/* ../../desktop.blocks/slogan/slogan.css begin */
.slogan {
  color: #fff;
  margin: 10px 0;
}
/* ../../desktop.blocks/slogan/slogan.css end */
/* ../../desktop.blocks/slogan/_level/slogan_level_one.css begin */
.slogan_level_one {
  padding: 5px;
  background: #fc3307;
  font-size: 25px;
}
/* ../../desktop.blocks/slogan/_level/slogan_level_one.css end */
/* ../../desktop.blocks/slogan/_level/slogan_level_two.css begin */
.slogan_level_two {
  font-size: 41.3px;
  line-height: 1;
}
/* ../../desktop.blocks/slogan/_level/slogan_level_two.css end */
/* ../../desktop.blocks/form/form.css begin */
.form__hint {
  font-size: 8px;
  margin-top: 5px;
  text-align: center;
  color: #8f8f8f;
}
.form .button {
  margin-top: 33px;
}
/* ../../desktop.blocks/form/form.css end */
/* ../../desktop.blocks/input/__control/input__control.css begin */
.input__control {
  width: 265px;
  height: 32px;
  color: #1bcb88;
  font-size: 14px;
  padding-left: 10px;
}
.input:first-child .input__control {
  margin-bottom: 23px;
}
input::-webkit-input-placeholder {
  color: #1bcb88;
}
input:-moz-placeholder {
  color: #1bcb88;
}
/* ../../desktop.blocks/input/__control/input__control.css end */
/* ../../desktop.blocks/input/_styled/input_styled_yes.css begin */
.input_styled_yes .input__control {
  border: 3px solid #fc3307;
}
/* ../../desktop.blocks/input/_styled/input_styled_yes.css end */
/* ../../desktop.blocks/action/action.css begin */
.action {
  background: #021434;
  color: #fff;
  font-size: 19px;
  padding: 22px 100px;
}
.action__inner {
  width: 770px;
  margin: auto;
}
.action__old {
  margin-right: 10px;
  position: relative;
}
.action__old:after {
  content: "";
  background: url("i/cross_small.png") no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 3px;
  width: 100%;
  height: 100%;
}
.action__text {
  float: left;
}
/* ../../desktop.blocks/action/action.css end */
/* ../../desktop.blocks/duration/duration.css begin */
.duration {
  margin-left: 45px;
  margin-top: 20px;
  float: left;
}
/* ../../desktop.blocks/duration/duration.css end */
/* ../../desktop.blocks/timer/timer.css begin */
.timer {
  font-size: 48.59px;
  margin-bottom: 20px;
}
.timer__item {
  background: #fc005e;
  padding: 0px 23px;
  display: inline-block;
}
/* ../../desktop.blocks/timer/timer.css end */
/* ../../desktop.blocks/description/description.css begin */
.description {
  text-align: center;
  color: #fff;
}
/* ../../desktop.blocks/description/description.css end */
/* ../../desktop.blocks/description/_size/description_size_small.css begin */
.description_size_small {
  padding: 5px;
  font-size: 18.87px;
}
/* ../../desktop.blocks/description/_size/description_size_small.css end */
/* ../../desktop.blocks/description/_size/description_size_medium.css begin */
.description_size_medium {
  font-size: 21px;
}
/* ../../desktop.blocks/description/_size/description_size_medium.css end */
/* ../../desktop.blocks/description/_color/description_color_orange.css begin */
.description_color_orange {
  color: #fc3307;
}
/* ../../desktop.blocks/description/_color/description_color_orange.css end */
/* ../../desktop.blocks/description/_color/description_color_pink.css begin */
.description_color_pink {
  color: #fc005e;
}
/* ../../desktop.blocks/description/_color/description_color_pink.css end */
/* ../../desktop.blocks/stages/stages.css begin */
.stages__inner {
  width: 1000px;
  margin: auto;
  position: relative;
  counter-reset: li;
  list-style: none;
  padding: 0;
  margin-bottom: 100px;
}
/* ../../desktop.blocks/stages/stages.css end */
/* ../../desktop.blocks/heading/heading.css begin */
.heading {
  font-weight: normal;
  text-align: center;
}
/* ../../desktop.blocks/heading/heading.css end */
/* ../../desktop.blocks/heading/_level/heading_level_3.css begin */
.heading_level_3 {
  font-size: 48px;
}
/* ../../desktop.blocks/heading/_level/heading_level_3.css end */
/* ../../desktop.blocks/heading/_level/heading_level_4.css begin */
.heading_level_4 {
  font-size: 35px;
}
/* ../../desktop.blocks/heading/_level/heading_level_4.css end */
/* ../../desktop.blocks/heading/_color/heading_color_green.css begin */
.heading_color_green,
.heading_color_green .link {
  color: #1bcb88;
}
/* ../../desktop.blocks/heading/_color/heading_color_green.css end */
/* ../../desktop.blocks/heading/_color/heading_color_orange.css begin */
.heading_color_orange,
.heading_color_orange .link {
  color: #fc3307;
}
/* ../../desktop.blocks/heading/_color/heading_color_orange.css end */
/* ../../desktop.blocks/stage/stage.css begin */
.stage {
  padding-top: 165px;
  width: 180px;
  display: inline-block;
  vertical-align: top;
  margin-right: 35px;
  margin-left: 35px;
  margin-bottom: 25px;
  position: relative;
}
.stage__title {
  font-size: 20px;
  margin: 10px 0;
}
.stage:after {
  position: absolute;
  display: block;
  width: 35px;
  height: 25px;
  text-align: center;
  background: #fc005e;
  color: #fff;
  content: counter(li);
  counter-increment: li;
  top: 135px;
  padding-top: 10px;
}
.stage:last-child:after {
  display: none;
}
.stages .heading_level_3 {
  margin-bottom: 20px;
}
/* ../../desktop.blocks/stage/stage.css end */
/* ../../desktop.blocks/stage/_type/stage_type_brief.css begin */
.stage_type_brief {
  background: url("i/brief.png") no-repeat;
}
/* ../../desktop.blocks/stage/_type/stage_type_brief.css end */
/* ../../desktop.blocks/stage/_type/stage_type_analysis.css begin */
.stage_type_analysis {
  background: url("i/analysis.png") no-repeat;
}
/* ../../desktop.blocks/stage/_type/stage_type_analysis.css end */
/* ../../desktop.blocks/stage/_type/stage_type_copywriting.css begin */
.stage_type_copywriting {
  background: url("i/copywriting.png") no-repeat;
}
/* ../../desktop.blocks/stage/_type/stage_type_copywriting.css end */
/* ../../desktop.blocks/stage/_type/stage_type_design.css begin */
.stage_type_design {
  background: url("i/design.png") no-repeat;
}
/* ../../desktop.blocks/stage/_type/stage_type_design.css end */
/* ../../desktop.blocks/stage/_type/stage_type_ads.css begin */
.stage_type_ads {
  background: url("i/ads.png") no-repeat;
}
/* ../../desktop.blocks/stage/_type/stage_type_ads.css end */
/* ../../desktop.blocks/stage/_type/stage_type_analytics.css begin */
.stage_type_analytics {
  background: url("i/analytics.png") no-repeat;
}
/* ../../desktop.blocks/stage/_type/stage_type_analytics.css end */
/* ../../desktop.blocks/stage/_type/stage_type_start.css begin */
.stage_type_start {
  background: url("i/start.png") no-repeat;
}
/* ../../desktop.blocks/stage/_type/stage_type_start.css end */
/* ../../desktop.blocks/stage/_type/stage_type_order.css begin */
.stage_type_order {
  position: relative;
}
.stage_type_order .button {
  position: absolute;
  bottom: -148px;
}
/* ../../desktop.blocks/stage/_type/stage_type_order.css end */
/* ../../desktop.blocks/portfolio/portfolio.css begin */
.portfolio {
  background: #021434;
  color: #fff;
  padding: 1px 0 75px 0;
}
.portfolio__inner {
  max-width: 1000px;
  margin: auto;
}
.portfolio .carousel__img {
  width: 530px;
  float: left;
}
.portfolio .carousel__summary {
  float: left;
  width: 395px;
  margin-left: 15px;
}
.portfolio .carousel__control {
  left: 10px;
  top: 54%;
}
.portfolio .carousel__control_type_right {
  right: 10px;
  left: auto;
}
.portfolio .carousel__control {
  border-radius: 0;
  opacity: 1;
}
.portfolio .carousel__control_type_right {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 19px solid #fc005e;
  border-bottom: 8px solid transparent;
}
.portfolio .carousel__control_type_right:hover {
  border-left-color: #a60034;
}
.portfolio .carousel__control_type_left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 19px solid #fc005e;
  border-bottom: 8px solid transparent;
  margin-left: -35px;
}
.portfolio .carousel__control_type_left:hover {
  border-right-color: #a60034;
}
.portfolio .carousel__result {
  font-size: 17px;
  color: #fc005e;
}
.portfolio .carousel__price {
  font-size: 17px;
  color: #1bcb88;
}
/* ../../desktop.blocks/portfolio/portfolio.css end */
/* ../../desktop.blocks/features/features.css begin */
.features__inner {
  width: 1000px;
  margin: 62px auto 0;
}
.features .heading_level_4 {
  margin-bottom: 60px;
}
/* ../../desktop.blocks/features/features.css end */
/* ../../desktop.blocks/features/__item/features__item.css begin */
.features__item {
  padding-top: 180px;
  width: 165px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 12px;
}
/* ../../desktop.blocks/features/__item/features__item.css end */
/* ../../desktop.blocks/features/__item/_type/features__item_type_warranty.css begin */
.features__item_type_warranty {
  background: url("i/feature-icon_up.png") top center no-repeat;
}
/* ../../desktop.blocks/features/__item/_type/features__item_type_warranty.css end */
/* ../../desktop.blocks/features/__item/_type/features__item_type_geography.css begin */
.features__item_type_geography {
  background: url("i/feature-icon_done.png") top center no-repeat;
}
/* ../../desktop.blocks/features/__item/_type/features__item_type_geography.css end */
/* ../../desktop.blocks/features/__item/_type/features__item_type_experience.css begin */
.features__item_type_experience {
  background: url("i/feature-icon_calendar.png") top center no-repeat;
}
/* ../../desktop.blocks/features/__item/_type/features__item_type_experience.css end */
/* ../../desktop.blocks/features/__item/_type/features__item_type_projects.css begin */
.features__item_type_projects {
  background: url("i/feature-icon_projects.png") top center no-repeat;
}
/* ../../desktop.blocks/features/__item/_type/features__item_type_projects.css end */
/* ../../desktop.blocks/features/__item/_type/features__item_type_team.css begin */
.features__item_type_team {
  background: url("i/feature-icon_team.png") top center no-repeat;
}
/* ../../desktop.blocks/features/__item/_type/features__item_type_team.css end */
/* ../../desktop.blocks/features/__item/_type/features__item_type_approach.css begin */
.features__item_type_approach {
  background: url("i/feature-icon_approach.png") top center no-repeat;
}
/* ../../desktop.blocks/features/__item/_type/features__item_type_approach.css end */
/* ../../desktop.blocks/price/price.css begin */
.price {
  background: #1bcb88;
  color: #fff;
  padding: 30px 180px;
  font-size: 54.23px;
  margin-top: 85px;
}
.price__inner {
  width: 770px;
  margin: auto;
}
.price__old {
  margin-right: 10px;
  position: relative;
}
.price__old:after {
  content: "";
  background: url("i/cross_big.png") no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 100%;
}
/* ../../desktop.blocks/price/price.css end */
/* ../../desktop.blocks/contacts/contacts.css begin */
.contacts__inner {
  width: 770px;
  margin: 15px auto;
  padding: 30px 100px;
  white-space: nowrap;
}
.contacts__form {
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin-left: 150px;
}
.contacts .input:first-child .input__control {
  margin-bottom: 15px;
}
/* ../../desktop.blocks/contacts/contacts.css end */
/* ../../desktop.blocks/order/order.css begin */
.order {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 295px;
  margin-left: 38px;
}
.order__description {
  font-size: 18.67px;
}
.order__or {
  font-size: 21px;
  text-align: center;
  margin-top: 50px;
}
/* ../../desktop.blocks/order/order.css end */
.logo__slogan {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 12px;
  color: #fff;
}
.logo__title 
{
    text-indent: -800px;
    overflow: hidden;
}
.call-us .button
{
  width: 95%;
}
.carousel__img
{
    width: 100%;
}